<a href="https://colab.research.google.com/github/Shakib22011/IT22011_Shakib_B51/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Python variable

#creating variables
x = 5
y = "John"
print(x)
print(y)

5
John

In [2]:
#Variables do not need to be declared with any particular type, and can even change type after they have been set.
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [4]:
#You can get the data type of a variable with the type() function.
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(z)

3.0

In [5]:

x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [6]:
x = "John"
# is the same as
x = 'John'
print(x,y)

John John