<a href="https://colab.research.google.com/github/Shakib22011/IT22011_Shakib_B51/blob/main/Python_Casting%2CString%2CBoolean_and_Operator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Type Casting**

In [ ]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
print(x)
print(y)
print(z)

1
2
3

In [ ]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'
print(x)
print(y)
print(z)

In [ ]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

**Python string**

In [ ]:
print("Hello")
print('Hello')

Hello
Hello

In [ ]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [ ]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
a = "Hello, World!"
print(a[1])

e

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
for x in "banana":
  print(x,end=" ")

b a n a n a

In [ ]:
a = "Hello, World!"
print(len(a))

13

In [ ]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [ ]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [ ]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [ ]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [ ]:
b = "Hello, World!"
print(b[2:7])

llo,

In [ ]:
b = "Hello, World!"
print(b[:5])

Hello

In [ ]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [ ]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [ ]:
a=" Hello Lenovo!"
print(a.upper()) #return string in uppercase
print(a.lower())  #return string in lowercase
print(a.strip()) #remove whitespace

 HELLO LENOVO!
 hello lenovo!
Hello Lenovo!

In [ ]:
a = "Hello, World!"
print(a.replace("H","J"))   #replace H with J
print(a.split(","))   #split string by comma

Jello, World!
['Hello', ' World!']

In [ ]:
a,b="Hello","Lenovo"
c=a +" "+ b  #concatenate two string
print(c)

Hello Lenovo

In [ ]:
age = 4
c=f"i am imon, i am {age*5} years old"  #concate string & number
print(c)

i am imon, i am 20 years old

In [ ]:
txt="We are the so-called \"Vikings\" from the north."  #add character in a string
print(txt)

We are the so-called "Vikings" from the north.

In [ ]:
txt="Kolkata Knight Riders"
print(txt.capitalize())
print(txt.casefold())
print(txt.encode())
print(txt.islower())

Kolkata knight riders
kolkata knight riders
b'Kolkata Knight Riders'
False

In [ ]:
txt = "My name is Ståle"

x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

In [ ]:
txt = "Hello, welcome to my world."

x = txt.find("welcome")  #print the index

print(x)

7

In [ ]:

txt = "welcome to morocco"
x = txt.title()  #Make the first letter in each word upper case:
print(x)

Welcome To Morocco

**PYTHON BOOLEAN**

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [ ]:
print(bool("Hello"))
print(bool(15))

True
True

In [ ]:
print(bool())
print(bool(0))
print(bool(["apple","Cherry"]))

False
False
True

In [ ]:
class myclass():
  def __len__(self):   # if you have an object that is made from a class with a __len__ function that returns 0 or False
    return 0

myobj = myclass()
print(bool(myobj))

False

In [ ]:
def myFunction() :
  return True

print(myFunction())

True

In [ ]:
#Check if an object is an integer or not:

x = 200
print(isinstance(x, int))

True

**PYTHON OPERATOR**

In [ ]:
print(100 + 5 * 3)

115

In [ ]:
print(5 + 4 - 7 + 3)

5

In [ ]:
x=5
y=2
print(x**y) #exponention
print(x//y)  #Floor division

25
2

In [ ]:
z=1.666667
y=round(z,2)
print(y)
print(round(z,2))
print(z)

1.67
1.67
1.666667