<a href="https://colab.research.google.com/github/Shakib22011/IT22011_Shakib_B51/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Python variable

#creating variables
x = 5
y = "John"
print(x)
print(y)

5
John

In [2]:
#Variables do not need to be declared with any particular type, and can even change type after they have been set.
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [4]:
#If you want to specify the data type of a variable, this can be done with casting.
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(z)

3.0

In [5]:
#You can get the data type of a variable with the type() function.
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [7]:
#String variables can be declared either by using single or double quotes
x = "John"
# is the same as
x = 'John'
print(x,y)

John John

In [8]:
#Variable names are case-sensitive.
a = 4
A = "Sally"
#A will not overwrite a
print(a,A)

4 Sally

In [9]:
#legal variable names
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"
print(myvar,my_var)

John John

In [10]:
#illegal variables
2myvar = "John"
my-var = "John"
my var = "John"
print(my-var)

SyntaxError: invalid decimal literal (<ipython-input-10-9d8690f0c26e>, line 2)

In [11]:
#Python allows you to assign values to multiple variables in one line:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [12]:
#And you can assign the same value to multiple variables in one line:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [13]:
#Unpack a list:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [14]:
#The Python print() function is often used to output variables.
x = "Python is awesome"
print(x)

Python is awesome

In [15]:
#In the print() function, you output multiple variables, separated by a comma:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [16]:
#You can also use the + operator to output multiple variables:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [17]:
#Print the data type of the variable x:
x = 5
print(type(x))

<class 'int'>